<form {{on "submit" this.signup}}>
  <div class="form-group">
    <label for="name">Name</label>
    <Input @type="text" id="name" class="form-control form-control--lg" {{on "input" (fn this.update "name")}} required />
    <Form::Error @errors={{this.errors}} @errorType="first_name" />
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <Input @type="email" id="email" class="form-control form-control--lg" {{on "input" (fn this.update "email")}} required />
    <Form::Error @errors={{this.errors}} @errorType="email" />
  </div>

  <div class="form-group">
    <div class="form-group-header flex items-center">
      <label for="password">Password</label>
      <span class="text-gray ml-1">(min. 6 characters)</span>
    </div>

    <Input @type="password" id="password" class="form-control form-control--lg" {{on "input" (fn this.update "password")}} required />
    <Form::Error @errors={{this.errors}} @errorType="password" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn--primary btn--lg btn--block" disabled={{this.isDisabled}}>
      Sign up
    </button>
  </div>
</form>
