<form {{on "submit" this.signup}}>
  <label for="name">Name</label>
  <Input @type="text" id="name" {{on "change" (fn this.update "name")}} required="true" />
  <p>{{field-error this.errors type="first_name"}}</p>

  <label for="email">Email address</label>
  <Input @type="email" id="email" {{on "change" (fn this.update "email")}} required="true" />
  <p>{{field-error this.errors type="email"}}</p>

  <label for="password">Password</label>
  <Input @type="password" id="password" {{on "change" (fn this.update "password")}} required="true" />
  <p>{{field-error this.errors type="password"}}</p>

  <button type="submit">Sign up</button>
</form>
